    <!-- ここからメインビジュアル -->
  <div class="main-visual">
      <p class="mainvi-vi">Climbers</p>
      <p class="mainvi-p">simply dummy text of the printing</p>
  </div>
  <!-- ここまでメインビジュアル -->


  <!-- ここからメイン -->
  <div class="main">
    <div class="container">
      <div id="portfolio"></div>
      <h2 class="heading">商品一覧</h2>
      <div class="ander"></div>
      <p class="heading-p">新型クライミングシューズの予約から定番シューズの確保まで。<br>フィッティングに詳しいスタッフが足型、課題、岩質にあったシューズをオススメします。<br>痛いシューズや迷ったらすぐシューズ相談フォームからご相談ください。スポルティバ、ファイブテン、スカルパ、イボルブ、アンパラレル、オーツン、浅草クライミングなど、100種類を超えるシューズを常時在庫しております。<br>シューズケアにもチカラ入れていてオリジナル開発も行なっております。</p>
      <%= link_to "＜＜　シューズ一覧を見る", items_path %>
    <div class="production-group clearfix">
        <p class="sample sample1"></p>
        <p class="sample sample2"></p>
        <p class="sample sample3"></p>
        <p class="sample sample4"></p>
        <p class="sample sample5"></p>
        <p class="sample sample6"></p>
      </div>

    </div>
  </div>
  <!-- ここまでメイン -->
