<div class="container">
    <h2>会員一覧画面</h2>
    <table class="table table-hover">
        <thead class="thead-lignt">
            <tr>
                <th>会員ID</th>
                <th>氏名</th>
                <th>メールアドレス</th>
                <th>ステータス</th>
            </tr>
        </thead>
        <tbody>
            <% @climbers.each do |f| %>
            <tr>
                <td>
                    <%= f.id %>
                </td>
                <td>
                  <%= link_to admins_climber_path(f.id) do %>
                    <%= f.name %>
                  <% end %>
                </td>
                <td>
                    <%= f.email %>
                </td>
                <td>
                    <% if f.is_member_status == false %>
                      <span class="text-success">有効会員</span>
                    <% else %>
                      <span class="text-danger">退会済み</span>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>